[submodule "Mohamed/merise"]
	path = Mohamed/merise
	url = https://github.com/mehdhaoui/merise.git
[submodule "Nicolas/DWWM20045"]
	path = Nicolas/DWWM20045
	url = https://github.com/seretnicolas/DWWM20045.git
[submodule "Kevin/DWWM"]
	path = Kevin/DWWM
	url = https://github.com/Kevin-dev-afpa/DWWM.git
[submodule "Maxime/MCS"]
	path = Maxime/MCS
	url = https://github.com/Evolved-beep/MCS.git
[submodule "Franck/MCD"]
	path = Franck/MCD
	url = https://github.com/SatanooX/MCD.git
[submodule "Samir/mcd"]
	path = Samir/mcd
	url = https://github.com/smirtest/mcd.git
[submodule "Mohamed/DWWM"]
	path = Mohamed/DWWM
	url = https://github.com/mehdhaoui/DWWM.git
[submodule "Innocent/DWWM"]
	path = Innocent/DWWM
	url = https://github.com/binyoma/DWWM.git
[submodule "Kevin/SQL"]
	path = Kevin/SQL
	url = https://github.com/Kevin-dev-afpa/SQL.git
[submodule "Franck/Database_SQL"]
	path = Franck/Database_SQL
	url = https://github.com/SatanooX/Database_SQL.git
[submodule "Kevin/Reprise-Jscript"]
	path = Kevin/Reprise-Jscript
	url = https://github.com/Bernaud-Jonathan/Reprise-Jscript.git
[submodule "Jonathan/Reprise-Jscript"]
	path = Jonathan/Reprise-Jscript
	url = https://github.com/Bernaud-Jonathan/Reprise-Jscript.git
